.topbar
  .fill
    .container
      %a{:class=>"brand", :href=>"#" } SocialMenu
      %ul.nav
        %li.active
          %a{:href=>"#"} Home
        %li
          %a{:href=>"#profile"} Profile
           
.container
  .content
    .page-header
      %ul.media-grid
        %li
          %a{:href => "#"}
            %img{:class => "thumbnail", :src => "http://placehold.it/90x90", :alt => ""}
      %h1
        %small= "Nanjing Resto"
    .row
      .span10
        - 10.times do
          %blockquote
            %h2#dish_name= "typical nanjing dish"
            %ul.media-grid
              %li
                %a{:href => "#"}
                  %img{:class => "thumbnail", :src => "http://placehold.it/320x180"}
                
      .span4

  .footer
    %p &copy; SocialMenu 2011